@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@foreach (var question in Model.questions)
{
    <h2>
        @question.Title
        
    </h2>
    <p>
        @question.Correct
    </p>
}

