@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var question in questions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => question.Title)
            </td>
            <td>

            </td>
        </tr>
}
    </tbody>
</table></div>
