@page
@model TestModel
@{
    ViewData["Title"] = "Test";
}
<input type="radio" id="male" name="offer" value="">
<label for="male"></label><br>
<input type="radio" id="female" name="offer" value="">
<label for="female"></label><br>
<input type="radio" id="other" name="offer" value="">
<label for="female"></label><br>
<input type="radio" id="other" name="offer" value="">
<label></label><br>
<input type="submit" id="other" name="offer" value="">




